<div id="class" class="container">
    <h1>Our Classes</h1>
    <p>Let us help you find a class that meets your fitness goals.</p>
    <div class="displayClass">
        {{#each classData }}
            {{> classList}}
        {{/each}}
    </div>
</div>
