<div id="home" class="container">
    <h1>Let's Get Moving!</h1>
    <p>Welcome to Fitness Studio, where fitness becomes your lifestyle.</p>
    <button onclick="window.location.href='/classes'">See Classes</button>
</div>