<div class="container">
	<div id="logout">
		<h1>You have successfully signed out</h1>
		<div id="logoutBtns">
			<button type="submit"><a href="/login">Login Again</a></button>
			<button type="submit"><a href="/">Back to Home</a></button>
		</div>
	</div>
</div>