<div class="container">
	<div id="logout">
		<h1>Transaction Complete</h1>
        <h2>Order ID:{{this.randomNum}}</h2>
        <button type="submit"><a href="/">Back to Home</a></button>
	</div>
</div>